<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8e0f1df042.js" crossorigin="anonymous"></script>
    <title>Donuts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/main.css'%}">

</head>
<header>
  <img src="{% static '/img/Paradise-Donuts-Transparent.png'%}" alt="Donut Logo" class="logo">
  <div class="neon-buttons">
    <a href="" class="neon-btn">
      <i class="fas fa-car icons"></i>
      <span class="full-text">ORDER DELIVERY</span>
      <!-- <span class="short-text">DELIVERY</span> -->
    </a>
    <a href="" class="neon-btn">
      <i class="fas fa-store icons"></i>
      <span class="full-text">ORDER PICKUP</span>
      <!-- <span class="short-text">PICKUP</span> -->
    </a>
  </div>
  <a href="#" class="find-loc">
    <i class="fas fa-map-marked-alt"></i>        
    <span class="full-text">Find a location</span>
    <!-- <span class="short-text">Stores</span> -->
  </a>
</header>
<div class="container">
  <div class="hook">
    <h1 class="original-text">The World's<span class="fresh">&nbsp;Freshest&nbsp;</span>doughnuts</h1>
    <!-- <h1 class="format-text">The World's<br><span class="fresh">&nbsp;Freshest&nbsp;</span><br>doughnuts</h1> -->
    <h2>Recently recognized as Utah's best doughnut shop by Kettles Magazine</h2>
  </div>
  <div class="col" >
      <div class="row">
        {% for donut in donuts %}
        <div class="col col-sm-3 d-flex align-items-stretch">
          <div class="card border-0 text-center mb-4">
            <img src="{{donut.imageurl}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{donut.name}}</p>
            </div>
            <div class="product-btns">
              <button type="button" class="btn-cart">
                <span class="full-text">Add to cart</span>
                <!-- <span class="short-text">Cart</span> -->
                <i class="fas fa-plus"></i>
              </button>
              <button type="button" class="btn-buy">
                <span class="full-text">Buy Now</span>
                <!-- <span class="short-text"></span> -->
                <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
      {% endfor %}

      </div>
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
